@import url('https://fonts.googleapis.com/css?family= Abhaya+Libre| EB+Garamond|Galada|Judson|Ibarra+Real+Nova|Lato|Lobster|Martel|Neuton|Noto+Serif|Open+Sans|PT+Serif+Caption|Playfair+Display+SC|Roboto|Unna&display=swap');

:root {
    --primary-color: #41c0d1;
    --secondary-color: #1b9bff;
    --main-font: 'Martel', 'Noto Serif';
    --content-font: 'Judson', 'Abhaya Libre';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: "border-box";
}
*/
.container {
    display: flex;
    margin: 1vw 10vw;
}

#main {
    display: flex;
    justify-content: space-between;

}

#main div{
    flex: 30vw;
    padding: 0.5vw 0;
}

body {
    background: url(https://miro.medium.com/max/3840/1*xMuIOwjliGUPjkzukeWKfw.jpeg);
    -webkit-font-smoothing: antialiased;
    color: #e4dcdc;
    padding: 3vw;
    height: 10vw;
}


#main {
    background: url(https://templatemo.com/banners/desktop-display-bg.jpg);
    margin-bottom: 5vw;
    padding: 0.5vw;
    box-sizing: border-box;
    font-family: var(--content-font);
    font-size: 1.2rem;
    
}

#main h1, h2{
    color: rgb(13, 0, 255);
    font-size: 1.2rem;
    margin: 0.5vw 0;
    font-family: var(--main-font);
}

.section {
    background: rgba(0, 68, 255, 0.425);
}

img {
    
    min-width: 30vw;
    height: 30vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 5vw;
    border-radius: 0.1vw;

}

.section p {
    text-align: center;
    margin: 1vw 0;
}

.section h3 {
    text-align: center;
    text-decoration: underline;
    color: black;
}

.footer {
    
    font-family: var(--content-font);
    font-size: 1.2rem;
    text-align: center;
}
.form-btn {
    display: flexbox;
    background: rgba(0, 68, 255, 0.425);
    color: #fff;
    text-align: center;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-family: var(--content-font);
    font-weight: 3vw;
    margin-top: 0.5vw;
    padding: 1px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.form-btn:hover {
    background: rgba(3, 0, 15, 0.425);
    
}
@media screen and (max-width: 768px) {
    img {
        margin-top: 68px;
        margin-right: 10px;
    }
    #main {
        margin-top: 20px;
    }
    .section {
        margin-top: 10px;
    }
}
 /*
@media screen and (max-width: 768px) {
    #main { width:100%; }
    .section { width:100%; margin:0; border:none; }
    img {
        margin-top: 68px;
        margin-right: 10px;
    }
    
}