body {
        font-family: arial; 
        background-image: url(https://res.cloudinary.com/success4life18/image/upload/v1629541103/cv_background_biru9c.png);
        background-color: 	whitesmoke;
}
.wrapper {
            font-weight: bold;

}
h4 {
     color: orange;
        
}
h5 {
     text-align: center;
     font-size: 14px;
     color: blue;

}

.container {
        padding: 16px; 
} 
button {
        background-color: green; 
        color: white; 
        padding: 14px 20px; 
        margin: 8px 0; 
        cursor: pointer; 
        width: 100%; 
} 
    
    
input[type=text] {
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 2px solid #ccc; 
        box-sizing: border-box; 
} 
    
    
    
.cancelbtn {
        padding: 14px 20px; 
        background-color: #FF2E00; 
} 
    
.cancelbtn, 
.signupbtn {
        float: left; 
        width: 50% 
} 

      
.modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0, 0, 0); 
        background-color: rgba(0, 0, 0, 0.4); 
        padding-top: 60px; 
} 
    
      
.modal-content {
        background-color: #fefefe; 
        margin: 5% auto 15% auto; 
        border: 1px solid #888; 
        width: 80%; 
} 
    
      
.close {
        position: absolute; 
        right: 35px; 
        top: 15px; 
        color: #000; 
        font-size: 40px; 
        font-weight: bold; 
} 
    
      
.close:hover, 
.close:focus {
        color: red; 
        cursor: pointer; 
} 
      
.clearfix::after {
        content: ""; 
        clear: both; 
        display: table; 
} 

.footer {
        text-align: center;
}
      
@media screen and (max-width: 300px) { 
    .cancelbtn, .signupbtn { 
            width: 100%; 
}

}